
$body-bg:                         #ffffff;
$body-color:                      #666d8c;

// Colors
$green:                           #06ae23;

$color-primary:                   #3a68f2;
$color-secondary:                 #7695f5;

$color-tx-01:                     #2a2b2f;
$color-tx-02:                     #666d8c;
$color-tx-03:                     #a0a7c4;

$color-bg-01:                     #f5f6fa;
$color-bg-02:                     #f0f2f7;
$color-bg-03:                     #dce1ec;

// Fonts
$ff-primary:                      'Lexend', sans-serif;
$ff-secondary:                    'Alegreya Sans', sans-serif;

$font-family-base:                $ff-primary;

// Panels
$sidebar-width:                   230px;
