
$body-bg:                         #f8f9fa;

// Colors
$color-primary:                   #4935ff;
$color-secondary:                 #85afff;

// Fonts
$ff-primary:                      'Lexend', sans-serif;
$ff-secondary:                    'Alegreya Sans', sans-serif;

$font-family-base:                $ff-primary;

// Panels
$sidebar-width:                   240px;
