.btn {
  font-size: 15px;
  font-weight: 400;
  padding: 8px 12px;
  line-height: 1.467;

  &:focus,
  &:active {
    box-shadow: none;
  }
}

.btn-secondary {
  background-color: #fff;
  color: $color-tx-02;
  border-width: 1px;
  border-color: rgba($gray-400, .75);

  &:hover,
  &:focus {
    background-color: lighten($color-secondary, 26%);
    color: $color-secondary;
    border-color: $color-secondary;
  }
}

.btn-icontext {
  display: flex;
  align-items: center;

  i {
    line-height: 1;
    font-size: 18px;
    text-indent: -1px;
  }
}

.btn-icon {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 20px;
    line-height: 1;
  }
}

.btn-white {
  border-color: $gray-400;
  color: $color-tx-02;

  &:hover,
  &:focus {
    border-color: $gray-500;
    color: $color-tx-01;
  }
}
