
.mailbox {
  position: fixed;
  top: 0;
  left: $sidebar-width;
  width: 390px;
  height: 100vh;
  background-color: #fff;
}

.mailbox-header {
  display: flex;
  align-items: center;
  padding: 20px 20px 10px;
}

.mailbox-search {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: darken($color-bg-02, 2%);
  border-radius: 5px;

  i {
    font-size: 20px;
    line-height: 1;
    color: $color-tx-03;
    text-indent: -1px;
  }

  .form-control {
    flex: 1;
    background-color: transparent;
    border-width: 0;
    font-size: 14px;
    padding-left: 8px;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: $color-tx-03;
      text-shadow: none;
    }
  }

  &.onfocus {
    background-color: #fff;
    box-shadow: 0 0 0 1.5px $color-secondary;
  }
}

.mailbox-option {
  padding: 0 20px 5px;
  display: flex;
  align-items: center;
  font-size: 13px;

  .dropdown-check {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: $color-bg-02;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: $color-tx-02;
    text-decoration: none;

    &:hover,
    &:focus { background-color: darken($color-bg-02, 2%); }

    i {
      font-size: 20px;
      line-height: 1;
      border-radius: 2px;

      &:not(:first-child) { display: none; }
    }

    &.checkall i {
      color: $color-primary;

      &:first-child { display: none; }
      &:nth-child(2) { display: block; }
      &:last-child { display: none; }
    }

    &.check i {
      color: $color-primary;

      &:first-child,
      &:nth-child(2) { display: none; }
      &:last-child { display: block; }
    }
  }

  .dropdown-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 30px;
    text-decoration: none;
    color: $color-tx-02;
    font-size: 18px;
    //background-color: $color-bg-02;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    &:hover,
    &:focus { background-color: darken($color-bg-02, 2%); }
  }

  span {
    margin-right: 10px;
    color: $color-tx-03;
    font-size: 12px;
    letter-spacing: .2px;
  }

  .pager {
    position: relative;
    width: 26px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: $color-bg-02;
    border-radius: 3px;
    color: $color-tx-02;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: darken($color-bg-02, 2%);
    }

    i {
      font-size: 20px;
      line-height: 1;
    }

    &:first-of-type {
      //border-top-right-radius: 0;
      //border-bottom-right-radius: 0;
    }

    + .pager {
      margin-left: 1px;
      //border-top-left-radius: 0;
      //border-bottom-left-radius: 0;
    }
  }
}

.mail-group {
  position: relative;
  padding: 5px 20px 0;
  margin: 0;
  list-style: none;
  height: calc(100vh - 105px);
  overflow: hidden;
}

.mail-item {
  position: relative;
  min-height: 100px;
  border-radius: 5px;
  padding: 10px 10px 12px;
  background-color: $color-bg-01;
  border: 1px solid transparent;
  display: flex;

  + .mail-item { margin-top: 2px; }

  &:hover,
  &:focus {
    cursor: pointer;
    z-index: 6;
    background-color: $color-bg-02;
    @include shadow-sharp($gray-400);
  }

  &.active {
    z-index: 5;
    background-color: rgba(#fff, .75);
    border-color: $color-secondary;
    @include shadow-sharp($gray-400);
  }

  &.unread {
    background-color: #fff;

    .mail-sender,
    .mail-time {
      font-weight: 500;
      color: $color-tx-01;
    }

    .mail-subject {
      font-weight: 500;
      color: $color-tx-01;
    }
  }
}

.mail-avatar {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 100%;

  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;

    &.blue { background-color: lighten($blue, 25%); }
    &.green { background-color: lighten($green, 25%); }
    &.indigo { background-color: lighten($indigo, 25%); }
  }
}

.mail-item-body {
  flex: 1;
  padding-left: 15px;

  > div:first-child { margin-bottom: 2px; }
}

.mail-sender {
  font-size: 12px;
}

.mail-time {
  font-size: 11px;
  color: $color-tx-03;
}

.mail-subject {
  font-size: 14px;
  font-weight: 400;
  color: $color-tx-01;
  margin-bottom: 5px;
}

.mail-text {
  margin-bottom: 0;
  color: $color-tx-02;
  font-size: 13px;
}
