
.mailbox {
  position: fixed;
  top: 0;
  left: $sidebar-width;
  width: 375px;
  height: 100vh;
  background-color: #fff;
}

.mailbox-header {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.mailbox-search {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: $color-bg-01;
  border-radius: 5px;

  i {
    font-size: 18px;
    line-height: 1;
    color: $color-tx-03;
  }

  .form-control {
    flex: 1;
    background-color: transparent;
    border-width: 0;
    font-size: 14px;
    padding-left: 8px;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: $color-tx-03;
      text-shadow: none;
    }
  }
}

.mailbox-option {
  padding: 0 20px;
  display: flex;
  align-items: center;

  .dropdown-link {
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    background-color: rgba($color-primary, .1);
    color: $color-secondary;
    height: 28px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    border-radius: 5px;
  }
}
