
.mailcontent {
  position: fixed;
  top: 0;
  left: $sidebar-width + 390px;
  right: 0;
  height: 100vh;
  background-color: $color-bg-01;
  overflow: hidden;
}

.mailcontent-item {
  position: relative;
  padding: 0 25px;

  &:first-child {}
}

.mailcontent-subject {
  padding: 25px;
  display: flex;

  h4 {
    flex: 1;
    color: $color-tx-01;
    font-weight: 400;
    margin-right: 25px;
    text-indent: -1px;
    margin-bottom: 0;
    line-height: 1.4;
  }

  .nav {
    flex-shrink: 0;
    margin-top: 2.5px;
    margin-left: auto;
  }

  .nav-link i { font-size: 20px; }
}

.mailcontent-header {
  padding: 15px 0;
  display: flex;
  align-items: center;

  .mail-avatar {
    width: 38px;
    height: 38px;
  }

  .nav { padding-left: 10px; }
  .nav-link i { font-size: 18px; }
}

.mailcontent-subject,
.mailcontent-header {
  .nav { position: relative; }

  .nav-link {
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: $color-tx-02;

    + .nav-link { margin-left: 2px; }

    &:hover,
    &:focus {
      background-color: rgba($color-bg-03, .6);
    }

    &:last-child { width: 16px; }
  }
}

.mailcontent-sender {
  flex: 1;
  padding-left: 10px;

  h6 {
    font-size: 14px;
    color: $color-tx-01;
    margin-bottom: 2px;

    span {
      color: $color-tx-03;
      font-weight: 400;
      font-size: 13px;
    }
  }

  p {
    margin-bottom: 0;
    font-size: 13px;
  }
}

.mailcontent-time {
  font-size: 12px;
  font-weight: 400;
  color: $color-tx-03;
  padding-left: 10px;
}

.mailcontent-body {
  background-color: #fff;
  padding: 20px 25px 25px;
  margin: 10px 0;
  border-radius: 5px;
  @include shadow-sharp($color-bg-03);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: $color-tx-02;

  hr {
    background-color: $color-tx-03;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.mailcontent-label {
  display: block;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  color: $color-tx-03;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.attachment-group {
  position: relative;
  display: flex;
}

.attachment-item {
  background-color: rgba($color-bg-02, .6);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  min-width: 240px;

  + .attachment-item { margin-left: 10px; }
}

.attachment-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: inherit;
  @include shadow-sharp($color-bg-03);

  i {
    font-size: 28px;
    line-height: 1;
  }
}

.attachment-body {
  flex: 1;
  padding-left: 10px;

  h6 {
    margin-bottom: 2px;
    font-size: 14px;
    color: $color-tx-01;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus { color: $color-primary; }
  }

  span {
    display: block;
    font-size: 12px;
    color: $color-tx-03;
  }
}

.mailcontent-footer {
  padding: 25px;
  display: flex;
  align-items: center;

  .btn {
    font-size: 14px;
    height: 40px;
    display: flex;
    align-items: center;

    + .btn { margin-left: 10px; }
  }
}

.card-mail {
  border-color: $color-secondary;
  background-color: rgba($color-secondary, .08);
  border-width: 1.5px;
  border-radius: 0;

  .card-body {
    padding: 20px 25px;
    font-size: 14px;
  }

  .card-title {
    color: $color-tx-01;
    margin-bottom: 12px;
  }

  ul {
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 15px;
  }
}

.menu-compose {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1000;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: $color-primary;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  @include transition(all 0.2s);
  @include shadow-sharp($gray-400);

  &:hover,
  &:focus {
    transform: scale(1.1);
    color: #fff;
  }

  i {
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
  }
}
